@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 20px;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  touch-action: pan-x pan-y;
}

:root:active-view-transition-type(navigation-back) {
  &::view-transition-new(.slide-on-nav) {
    animation: enter-slide-right ease-in 0.25s;
  }
  &::view-transition-old(.slide-on-nav) {
    animation: exit-slide-right ease-in 0.25s;
  }
}

:root:active-view-transition-type(navigation-forward) {
  &::view-transition-new(.slide-on-nav) {
    animation: enter-slide-left ease-in 0.25s;
  }
  &::view-transition-old(.slide-on-nav) {
    animation: exit-slide-left ease-in 0.25s;
  }
}
